img{
    width: 65px;
}
header{
    background-color: rgb(255, 62, 62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.login{
    display: flex;
    gap: 50px;
    margin-right: 30px;
    
    
}

.login a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    

}

body{
    margin: 0;
}
main{
   height: 600px;
}
footer{
    background-color: rgb(255, 62, 62); 
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;
    flex-direction: column;
    padding: 36px;
    gap: 20px;
}
.links{
   display: flex;
   justify-content: space-between;
   max-width: 1300px;
   padding: 10px 36px;
   gap: 30px;
   border-bottom: 2px solid white;
}